table.noborder {
    border: 0 !important;
    border-collapse:collapse;
}

table.noborder td {
    border: none;
}

blockquote {
  background: #EEE;
  border-left: 6px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: """""""";
}
/*
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
*/
blockquote p {
  display: inline;
}

div.admonition p.admonition-title {
  font-size: 18px !important;
}
